* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  margin: 2rem;
}

form {
  margin: 1rem 0;
  line-height: 25px;
}

button {
  border: none;
  height: 2rem;
  width: 6rem;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
}

.add__student {
  background-color: #0474cc;
}

.container {
  display: flex;
  gap: 20px;
  text-align: center;
}

td,
th,
table {
  text-align: center;
  border: 2px solid #04048C;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
}

.checkout {
  background-color: #F20F69;
}

.present__students > span {
  font-size: 4rem;
  color: #0474cc;
}
